<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
  </head>

  <div class="nav header-row shadow">
      <div class="col-sm-2">
        <a href="#"><img src="https://demo-playground.altimetrik.com/app/home/img/playground-logo.2bbf2b1c.svg" class="header-logo" ></a>
      </div>

      <div class="col-sm-8 nav-column">

        <ul class="nav">

          <li class="nav-item"><a class="nav-link">Dashboard</a>
            <ul class="shadow dropdown-content">
              <li>
                <h3><a href="#" class="nav-item">Innovation</a></h3>
              </li>
            </ul>
          </li>
          <!---->

          <li class="nav-item"><a class="nav-link">Innovation</a>
            <ul class="shadow dropdown-content">
              <li><h3><a href="#" class="">Innovation Library</a></h3>
                <p> All the approved Ideas and Business Solutions are listed here. View and utilize them as required.</p>
              </li>
              <li><h3><a href="#" class="">Ideas</a></h3>
                <p> View what other employees are proposing to shape the future of the organization. Be a part of the ideas that interest you. </p>
              </li>
              <li><h3><a href="#" class="">IP Projects</a></h3>
                <p>Real world Business Cases/Problem Statements are listed here, awaiting innovative solutions.</p>
                <p>Be a part of the Business Case projects that interest you, either individually or in a team and present creative solutions.</p>
              </li>
            </ul>
          </li>

          <li class="nav-item"><a class="nav-link">Transformation</a>
            <ul class="shadow dropdown-content">
              <li><h3><a href="#" class="">My Space</a></h3>
                <p> Transform your capabilities by pursuing the Courses &amp; Learning Paths. Self-evaluate by taking up the Assessments &amp; Use Cases. View the Learning Dashboard and track your learning path. </p>
              </li>
              <!---->
              <li><h3><a href="#" class="">Coach Certification</a></h3>
                <p> Engineering Leaders can nominate Employees for the Coach Certifications and also, track and manage their certification journey. </p>
                <p> Coach Nominees can take up the assigned certifications and also view their certification progress. </p>
              </li>
            </ul>
          </li>

          <li class="nav-item"><a href="#" title="Create Development Environment for Practice, Building POC or any other deliverables." class="nav-link">Engineering</a>
          </li>

          <li class="nav-item"><a class="nav-link">Admin</a>
            <ul class="shadow dropdown-content">
              <!---->
              <li><h3><a href="" class="">Content Management</a></h3>
                <p>Creates &amp; manages content for the Playground Homepage.</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-sm-2">
        <div class="pull-right">
          <div class="element-right">
            <div data-v-9036b1dc="" class="avatar header-avatar mr-3 nav-item">
              <img data-v-9036b1dc="" src="../../assets/img/user-placeholder.7794a972.png" height="100px" width="100px" alt="fullName" class="thumbnail ">

              <div data-v-9036b1dc="" class="thumbnail-dropdown">
                <ul data-v-9036b1dc="" class="shadow dropdown-content">
                  <li data-v-9036b1dc=""><a data-v-9036b1dc="" href="">My profile</a>
                  </li>
                  <li data-v-9036b1dc=""><a data-v-9036b1dc="">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
