<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #saveform="ngForm" id="save-ticket-form-id" class="modal-content animate"
    (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <div class="col-25">
              <label for="ticket"><b>Summary:</b></label>
          </div>
          <div class="col-75">
            <input type="text" id="ticket" name="ticket"
                  class="form-control" #ticket="ngModel"
                  [(ngModel)]="ticketRequest.ticket" [ngModelOptions]="{standalone: true}"
                  maxlength="500" minlength="3" placeholder="Enter ticket summary" required>

            <br><span class="help-block" style="color:red;" *ngIf="!ticket.valid && ticket.touched">Ticket name must be 3 to 500 characters!</span>
          </div>
        </div>

      <div class="form-group row">
        <div class="col-25">
          <label for="description"><b>Description:</b></label>
        </div>
        <div class="col-75">
          <textarea  id="description" name="description"
                    placeholder="Add comments" maxlength="1500"
                    class="form-control"  #desc="ngModel"
                    [(ngModel)]="ticketRequest.description" [ngModelOptions]="{standalone: true}"
                    rows="3" cols="30" required>
          </textarea>
          <br><span class="help-block" style="color:red;" *ngIf="!desc.valid && desc.touched">Enter description of the ticket!</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-25">
          <label for="IssueType"><b>Issue Type:</b></label>
        </div>
        <div class="col-25">
            <select id="type" name="type"
                    class="form-control" #ty="ngModel"
                    [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
                    required>

                <option value="Bug" selected>Bug</option>
                <option value="NewFeature" >New Feature</option>
            </select>
            <br><span class="help-block" style="color:red;" *ngIf="!ty.valid && ty.touched">Please select issue type of ticket!</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-25">
          <label for="priority"><b>Priority:</b></label>
        </div>
        <div class="col-25">
            <select id="priority" name="priority"
                    class="form-control" #prio="ngModel"
                    [(ngModel)]="priority"  [ngModelOptions]="{standalone: true}">

                <option value="Highest">Highest</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low" selected>Low</option>
             </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-25">
          <label for="severity"><b>Severity:</b></label>
        </div>
        <div class="col-25">
            <select id="severity" name="severity"
                    class="form-control" #ser="ngModel"
                    [(ngModel)]="severity"  [ngModelOptions]="{standalone: true}">

                <option value="Critical">Critical</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low" selected>Low</option>
             </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-25">
          <label for="file"><b>Attachment:</b></label>
        </div>
        <div class="col-75">
          <div class="uploadfilecontainer" (click)="fileInput.click()" appDragdrop (onFileDropped)="uploadFile($event)">

            <input type="file" id="fileUpload" name="fileUpload"
                     class="form-control" #fileInput hidden
                     [(ngModel)]="fileName"  [ngModelOptions]="{standalone: true}"
                     accept="image/*"  (change)="uploadFile($event.target.files)">

              <h5 align="center" *ngIf="!isFileUpload">Click here to upload or Drag here</h5>
              <!-- <span class="help-block" *ngIf="fileInput.touched && isFileUpload">file uploaded</span> -->

            <div class="showFile" *ngIf="isFileUpload">
                  <img [src]="base64textString" width="100%" height="100%" style="border-radius: 10px;"/>

            </div>
          </div>

            <div  class="files-list" *ngIf="isFileName">
              <!-- *ngFor="let file of files;let i= index"> -->
                <p> {{ file }} </p>
                <button class="delete-file" (click)="deleteAttachment(0)">
                  <i class="material-icons" style="color:red;">delete</i>
                </button>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25"></div>
        <div class="col-25-button">
          <button class="btn btn-primary" type="submit" [disabled]="!saveform.valid">Submit</button>
        </div>
        <div class="col-25-button">
          <button class="btn btn-primary" (click)="onClose()" >Cancel</button>
        </div>
        <div class="col-0"></div>
        <div class="col-25-button" *ngIf="isFileUpload">
          <button class="btn btn-primary" (click)="deleteAttachment(0)">
                Remove Image
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
