<!-- Button to open the modal login form -->
<!-- <button  (click)="displayPop($event)">Create Ticket </button> -->
<!-- <div class="registration" *ngIf="showForm"></div> -->
<!-- The Modal -->
<!-- <div  id="id01" class="modal" >
  <span onclick="document.getElementById('id01').style.display='none'"
class="close"  title="Close Modal">&times;</span> -->



<div  id="id01" class="modal" >

    <!-- Modal Content -->
   <form #saveform="ngForm"
    *ngIf="!showForm" id="save-ticket-form-id" class="modal-content animate"
              (ngSubmit)="onSubmit($event)" novalidate>

     <div class="container">
        <h3 align= "center"> {{submitValue}} Ticket  </h3>

        <div class="row">
           <div class="col-25">
             <label for="ticketRequest.ticket"><b>Ticket:</b></label>&nbsp;
           </div>
           <div class="col-75">
             <input type="text" placeholder="Enter ticket name" maxlength="500" (keyup)="keyEvent($event)"
             [(ngModel)]="ticketRequest.ticket" [ngModelOptions]="{standalone: true}" required>
           </div>
         </div>


        <div class="row">
           <div class="col-25">
             <label for="type"><b>Type:</b></label>&nbsp;
           </div>
           <div class="col-75">
               <select  (change)="keyEvent($event)" [(ngModel)]="ticketRequest.type"
                  [ngModelOptions]="{standalone: true}" required>

                  <option value="BUG" selected>BUG</option>
                  <option value="ENHANCEMENT" >ENHANCEMENT</option>
               </select>
           </div>
        </div>


        <div class="row">
           <div class="col-25">
             <label for="priority"><b>priority:</b></label>&nbsp;
           </div>
           <div class="col-75">
             <select  (change)="keyEvent($event)" [(ngModel)]="ticketRequest.priority"
                [ngModelOptions]="{standalone: true}" required>

                <option value="NORMAL">NORMAL</option>
                <option value="MEDIUM" selected>MEDIUM</option>
                <option value="HIGH">HIGH</option>
                <option value="SEVERE">SEVERE</option>
             </select>
           </div>
        </div>


        <div class="row">
           <div class="col-25">
             <label for="description"><b>Description:</b></label><br>
           </div>
           <div class="col-75">
             <textarea  placeholder="Add comments" maxlength="1500"
                (keyup)="keyEvent($event)" [(ngModel)]="ticketRequest.description"
                [ngModelOptions]="{standalone: true}" rows="3" cols="30"></textarea>
           </div>
        </div>


        <div class="row">
           <div class="col-25">
             <label for="file"><b>Upload file:</b></label>
           </div>
           <div class="col-80">
              <input type="file"  [(ngModel)]="fileName"  [ngModelOptions]="{standalone: true}"
                accept="image/*" (change)="changeListener($event)">
           </div>
           <div class="container" *ngIf="ticketRequest.fileBase64">
               <img [src]="ticketRequest.fileBase64"  height="130" />
           </div>
        </div>

        <br>
        <div class="col-80">
           <div class="row">
              <div  style="width:85%;">
                 <input class="col-0" id="id03"  type="submit" value=" Cancel">
              </div>

              <div style="width:50%;">
                 <input class="col-1" id="id02" type="submit"  [(ngModel)]="submitValue"
                [ngModelOptions]="{standalone: true}" [disabled]="!isChanged">
              </div>
           </div>
        </div>

     </div>

   </form>

  </div>

  <br><br><br>

  <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event)
      {
        if (event.target == modal)
        {
          modal.style.display = "none";
        }
      }
  </script>
